4979  python-pmw                      1712   444  1132    75    61                                 
5985  nbd                             1088   464   599    25     0                                 
6135  aide                            1032   910   115     7     0                                 
9093  maven-repo-helper                390    66   292    32     0                                 
10089 libpolyclipping                  295     0     0     0   295                                 
10097 fdpowermon                       294    71   115     4   104                                 
10495 enjarify                         269    24   230    15     0                                 
10609 repo                             263    38   214    11     0                                 
10727 google-android-installers        255     0     0     0   255                                 
11712 arduino-mighty-1284p             199     5   182    12     0                                 
14167 ola                              117    41    23     9    44                                 
15657 google-android-ndk-installer      86     6    73     5     2                                 
15658 google-android-sdk-docs-installer    86     0     0     0    86                                 
17228 dummydroid                        62     2    38    22     0                                 
18218 logtool                           50    12    36     1     1                                 
18592 pmw                               46     4    27     4    11                                 
18828 google-android-build-tools-installer    43     3    36     3     1                                 
19131 aspic                             40     6    33     1     0                                 
24357 google-android-m2repository-installer    12     0    11     1     0                                 
28457 sreview                            3     2     1     0     0                                 
29152 golang-github-bshuster-repo-logrus-logstash-hook     1     0     0     0     1                                 
